hgroup {
  text-align: center;
}

h1 {
  margin: 2.3rem 0 1.2rem; /*change for desktop design */
  font-size: 23px;
  font-weight: 300;
  letter-spacing: .6px;
  word-spacing: -.2px;
  color: var(--gray);
}

p {
  margin: 0;
}

hgroup strong {
  color: var(--verydarkblue);
}

hgroup p {
  font-size: 13px;
  color: var(--verydarkblue);
  margin-bottom: 1.9rem;
}

strong {
  font-weight: 700;
}

#error-message {
  margin-top: -.2rem;
  margin-bottom: 1.4rem;
  font-size: 10.5px;
  color: var(--lightred);
  font-style: italic;
}

#thank-you-message {
  margin-top: -.2rem;
  margin-bottom: 1.4rem;
  font-size: 10.5px;
  font-weight: 600;
  color: rgb(7, 181, 7);
  font-style: italic;
}

footer p {
  font-size: 10.5px;
  letter-spacing: .1px;
  color: var(--gray);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}